# ================================================================
# CONTRATO GLOBAL DE VARIABLES — mlops-proyecto2
# Todos los integrantes deben usar EXACTAMENTE estos nombres.
# Copiar este archivo como .env y completar los valores reales.
# NUNCA subir el archivo .env al repositorio.
# ================================================================

# ── PostgreSQL ───────────────────────────────────────────────────
POSTGRES_HOST=postgres-service
POSTGRES_PORT=5432
POSTGRES_USER=mlops_user
POSTGRES_PASSWORD=mlops_pass
POSTGRES_DB=mlops_db
POSTGRES_SCHEMA_RAW=raw
POSTGRES_SCHEMA_CLEAN=clean
POSTGRES_SCHEMA_INFERENCE=inference
TABLE_RAW=diabetes_raw
TABLE_CLEAN=diabetes_clean
TABLE_INFERENCE=inference_logs

# ── MinIO ────────────────────────────────────────────────────────
MINIO_ENDPOINT=minio-service:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secret123
MINIO_BUCKET=mlflow-artifacts

# ── MLflow ───────────────────────────────────────────────────────
MLFLOW_TRACKING_URI=http://mlflow-service:5000
MLFLOW_EXPERIMENT_NAME=diabetes_experiment
MLFLOW_MODEL_NAME=diabetes_model
MLFLOW_MODEL_ALIAS=champion

# ── API ──────────────────────────────────────────────────────────
API_HOST=fastapi-service
API_PORT=8000

# ── Airflow ──────────────────────────────────────────────────────
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://mlops_user:mlops_pass@postgres-service:5432/mlops_db
AIRFLOW_DAG_ID=diabetes_mlops_pipeline
BATCH_SIZE=15000
